/* upper menu bar */
.site-header {
  position: sticky;
  top: 0;
  /* width: 100%; */
  /* padding: 12px 2rem; */
  background: rgba(20, 20, 20);
  display: flex;
  
  /* no br between tags. */
  align-items: center;
  gap: 16px;
  height: 65px;
  padding: 0 var(--side-gap);
  z-index: 10;
}

.nav-left {
  list-style: none;
  display: flex;
  gap: 1.1rem;
  padding: 0;
  margin: 0;
}

.nav-left a {
  color: white;
  text-decoration: none;
  font-size:14px;
  font-weight: 400;
}

.flex {
  display: flex;
  /* turn on flex */
  justify-content: space-between;
  /* spread along main axis (row) */
  align-items: center;
  /* align on cross axis (vertical) */
  gap: 12px;
}

.nav-logo {
  height: 1.6rem;
  margin-right: 2rem;
  display: block;
}

.nav-right {
  display: flex;
  margin-left: auto;
  margin-right: 8px;
  align-items: center;
  gap: 1.2rem;
}

.nav-right a:link,
.nav-right a:visited {
  color: #fff;
  text-decoration: none;
}

.nav-right button {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

/* avatar + caret keep as-is */
.nav-button {
  background: transparent;
  border: 0;
  color: #fff;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
  
  gap: 4px;
}

.nav-avatar {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: block;
}

.fa-magnifying-glass {
  font-size: 18px;
  color:#fff;
}